.masterContent {
    display: flex;
    align-items: flex-start;
    margin-top: calc(62px + #{$margin-spacing});
    flex-wrap: wrap;

    .button {
        background: transparent;
        border: none;
        padding: 0;
    }

    .arrow {
        margin-right: 15px;
    }

    .title {
        margin-bottom: $margin-spacing;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .masterContent {
        .content {
            justify-content: space-between;
        }
    }
}
