.items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $color-white;
    padding-bottom: 0;
    box-shadow: $box-shadow-2;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    z-index: $z-index-dropdown;

    .ul {
        padding: 5px;
    }
}

.navItem {
    .navLink {
        font-size: 14px;
        color: $color-grey-4;
        padding: 12px;
        display: block;

        &:hover {
            color: $color-grey-2;
            background: $color-grey-7;
        }
    }
    &:last-child .navLink {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}
